:root {
    --body-background-color: #f9f6ee;
    --body-text-color: #27323e;
    --nav-background-color: transparent;
    --nav-border-bottom-color: transparent;
    --card-border-color: #a6a6a6;
    --up-border-left-color: #72c1aa;
    --down-border-left-color: #e85661;
    --degraded-border-left-color: #f6e293;
}

